body{
    margin: 0;
    padding: 0;
    background-color: rgb(147, 159, 209);
    background-size: cover;
    background-position: center;
    font-size: 20px;
    font-family: Impact;
    
  }

  .page-container {
    width: 800px;
    height: 900px;
    background-color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    }
  
  .content-wrap {
    width: 790px;
    height: 890px;
    background-color: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 20px 10px;
    }

    .logo{
      width: 220px;
      height: 140px;
      position: absolute;
      top: 1%;
      left: 70%;
  }
  
  * {
      margin: 0;
      padding: 0;
  }
  
  nav{
      width: 100%;
      height: 100px;
      background-color: whitesmoke;
      outline: 2px solid #000;
  }
  
  ul li{
      list-style: none;
      display: inline-block;
      float: left;
      line-height: 100px;
  }
  
  ul li a{
      text-decoration: none;
      font-size: 22px;
      font-family: Impact;
      color: #000;
      padding: 0px 25px;
  }
  
  ul li a:hover{
      background-color: #04AA6D;
  }


  h1 {
    margin: 0;
    padding: 40 0 10px;
    font-size: 40px;
  }













      
  .question{
    font-weight: 600;
  }
  .answers {
      margin-bottom: 20px;
  }
  #submit{
    font-family: sans-serif;
    font-size: 20px;
    background-color: #297;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  #submit:hover{
    background-color: #3a8;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .topicContainer {
    width: 25%;
    float: left;
  }

  .topicContainer a{
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
  }
  
  .topicContainer a:hover {
    color: black;
  }
  
  .topicContainer a.active {
    color: white;
  }

  .userQuizContainer{
    
    width: 33%;
    float: left;
  }

  .userQuizContainer a{
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
  }

  .credits{
    background-color: rgb(49, 48, 48);
    bottom: 0;
    width: 100%;
  }

  .credits div{
    padding: 10px;
  }
