body{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    background-size: cover;
    background-position: center;
    font-family: impact;
}

.backbox{
    width: 800px;
    height: 900px;
    background-color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.menubox{
    overflow:scroll;
    width: 790px;
    height: 890px;
    background-color: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 20px 10px;
}

.logo{
    width: 220px;
    height: 140px;
    position: absolute;
    top: 1%;
    left: 70%;
}

* {
    margin: 0;
    padding: 0;
}

nav{
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
    outline: 2px solid #000;
}

ul li{
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 100px;
}

ul li a{
    text-decoration: none;
    font-size: 22px;
    font-family: Impact;
    color: #000;
    padding: 0px 25px;
}

ul li a:hover{
    font-size: 26px;
}

h1 {
    margin: 0;
    padding: 40 0 10px;
    font-size: 40px;
    text-align: center;
}

.quiz p{
    padding: 20px 0 10px;
    font-size: 20;
}

.quiz input[type="submit"]{
    border: none;
    outline: 2px solid #000;
    height: 30px;
    width:49%;
    background: whitesmoke;
    color: #000;
    font-size: 17px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 6px;
}

.quiz input[type="submit"]:hover{
    cursor: pointer;
    background: aquamarine;
    color: #000;
}
